body{
  margin: 0;
  padding: 0;
}

.Main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Main > div {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.React {
  background-color: rgb(24, 142, 24);
}

.Node {
  background-color: rgb(50, 165, 242);
}
