body {
  margin: 0;
  padding: 0;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  height: 20vh;
  width: 100vw;
  background-color: rgb(50, 50, 50);
  color: rgb(220, 220, 220);
  font-size: 2.5em;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container > div {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
